.titre-jeanpierre {
	font-family: "UniversLTStd-Black";
    font-size: 23px;
    display: table-cell;
    vertical-align: middle;
    height: 80px;
    width: 375px;
    text-align: center;}

.text-jpc {
	width: 100%;
	color: white;
	background-color: #5a5147;
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: justify;

}

.titre-jpc {
    color: white;
    text-align: center;
    font-family: 'UniversLTStd-Black';
    margin-bottom: 30px;
    margin-top: 15px;
    font-size: 25px;
}