.flip-cards-text{
	text-align: center;
	width: 500px;
	height: 500px;
	background-color: #5a5147;
}

.text{

    background-color: #5a5147;
    color: white;
    h1 {
    	padding-top: 10px;
	    margin-top: 30px;
	    font-weight: 600;
	    font-size: 20px;

    }
    p {
    	text-align: justify;
	    font-size: 14px;
	    padding: 30px;
	    font-weight: 100;
	    font-family: 'Univers', sans-serif;
	    padding-top: 30px;
	    opacity: 0.9;
    }
}

.text-hommage {
	height: 570px;
}

