document.querySelectorAll('.flip-card').forEach(function(card) {
    card.addEventListener('mouseenter', function(){
    	console.log("hello baptiste");
        var jon = document.querySelector('.infos p');
        jon.insertAdjacentHTML('afterend', '<p>#{portrait}</p>');
    })
// })


console.log("hello fucker");

// // const element = document.querySelectorAll(".flip-card-front");
// // console.log(element)
// // element[0].addEventListener('mouseover', (event) => {
// //   console.log("hello!");
// // });
// // function addHover() {
// //   element.addEventListener("mouseover", (event) => {
// //   console.log("hello!");
// // });
// // }
 
// // addHover();
// //export { addHover } ;


document.querySelectorAll('.flip-card').forEach(function(card) {
    card.addEventListener('mouseenter', function(){
        console.log("hello");
        card.classList.remove('flip-card-out');
        card.classList.remove('flip-card-in');
        card.classList.add('flip-card-in');
        // var jon = document.querySelector('.infos p');
        //     jon.insertAdjacentHTML('afterend', '<p> <%= @portraits%> </p> ');
    })
    card.addEventListener('mouseleave', function(){
        setTimeout(()=> {
            card.classList.add('flip-card-out')
            console.log("goodbye");
        }, 5 * 1000);
    })
})

document.querySelectorAll('.flip-card').forEach(function(card) {
    
    var number = card.dataset.number
    var titre = card.dataset.titre
    var dimensions = card.dataset.dimensions
    var details = card.dataset.details

    var numberInfos= document.querySelector('.number');
    var titreInfos= document.querySelector('.titre');
    var dimensionsInfos= document.querySelector('.dimensions');
    var detailsInfos= document.querySelector('.details');
    card.addEventListener('mouseenter', function(){
        numberInfos.innerHTML = number;
        titreInfos.innerHTML = titre;
        dimensionsInfos.innerHTML = dimensions;
        detailsInfos.innerHTML = details;
    })
    card.addEventListener('mouseleave', function(){
        // var infos = document.querySelector('.index-titre');
        // console.log(infos.value);
        // infos.remove(id);
    })
})
