<div class="container-fluid ">
  <div class="wrap d-flex justify-content-center">
    <div class="flip-cards flip-cards-text d-flex justify-content-center">
      <div class="text">
        <h1>Contact</h1>

          <p>Jean-Pierre Chebassier <br><br>

        06 20 60 77 64 <br><br>
Jeanpierre.chebassier@gmail.com</p>
      </div>
    </div>
  </div>
</div>
