<div class="container-fluid ">
	<div class="wrap d-flex justify-content-center">
		<div class="flip-cards flip-cards-text text-hommage d-flex justify-content-center">
			<div class="text">
				<h1>Hommage à Claude Lévi-Strauss</h1>
				<p>En 1952, Claude Lévi-Strauss publiait "Race et Histoire". Depuis, il faut bien convenir que la planète s'organise autour d'une furieuse idée du monde où la croissance rime avec extinction des grandes différences, et industrialisation forcenée avec modèle occidental. Les échanges du commerce mondial laminent lentement les identités`. Si des mouvements de rébellion explosent de toutes parts, ce sont de minuscules contorsions de résistance face à cette marche mondiale. <br> Les cultures traditionnelles sont elles des oubliées du progrès ? Claude Lévi-Strauss a fait la démonstration brillante des supériorités acquises par d'autre cultures sur l'occident alors que celui-ci les juges primitives. Ces cultures ont poursuivi leur construction de manière parallèle au modèle judéo-chrétien, à qui appartient l'idée de progrès, mise en pratique dans la maîtrise des éléments, l'appropriation de la nature et la conquête du monde. <br> Le brassage des cultures vit une accélération sans précédent, sans comparaison avec les grands mixages historiques qui ont généré de grandes richesses culturelles car elles avaient le temps de l'ancrage, le temps de l'intégration, le temps de faire éclore et d'assimiler. <br> Alors que nous avons désormais si peu de temps pour cela, saurons-nous saisir la chance de nous ressourcer dans la diversité et la coexistence des cultures, fondatrices de notre société humaine?</p>
			</div>
		</div>
	</div>	
</div>