<div class="container ">
	<div class="wrap d-flex justify-content-center">
		<div class="flip-cards flip-cards-text d-flex justify-content-center">
			<div class="text">
				<h1>L'installation dans la ville</h1>
				<p>J'ai peint ces cent portraits de l'humanité pour qu'ils puissnet être reproduits en très grand formats. Pour qu'ils puissent être affichés dans la grande ville. je crois au pouvoir d'une démonstration éclatante des différences affichées, si grandes, si fortes, si visibles, alors que justement elles sont si difficile à accepter. Les murs de la ville, lieu de l'assimilation, où toute différence profonde se dilue pour réussir à vivre ensemble, deviendraient autant de miroirs pour exalter la force et la beauté des différences de culture. <br> La puissance de ces images pourrait créer un sursaut, une prise de conscience de l'immense perte que nous risquons de produire. <br>
					Ce site doit contribuer à ce qu'un jour cette idée se réalise. <br> Merci de votre soutien et de vos idées.</p>
			</div>
		</div>
	</div>	
</div>