<% content_for :meta_title, "Jean-Pierre Chebassier, peintre des différences}" %>
<% content_for :meta_description, "Jean-Pierre Chebassier a partagé sa vie entre l’art et l’entreprenariat." %>
<% content_for :meta_image, "JPC grande.png" %>
<div class="container-fluid">
	<div class="wrapper d-flex justify-content-center">
		<!-- <div class="left-show">
			<div class="left-arrow arrow"><%#= link_to " < ",portrait_path(params[:id].to_i - 1)%> </div>
			<a href="/" ></a>
		</div> -->
		<div class="image">
			<div class=" image-show ">
				<%= image_tag "JPC grande.png", class: "center-block" %>
			</div>
			<div class="infos-show">
				
				<div class='infos-show-content'>
					<div class="number col-3 align-middle"> <p>101</p>
					</div>
					<div class="infos-right col-9">
						<h1 class="titre-jeanpierre col-12">Jean-Pierre Chebassier</h1>
					</div>
				</div>
			</div>		
		</div>
<!-- 		<div class="right-show">
			<a href="/" ></a>
			<div class="right-arrow arrow">

					<%#=  link_to " > ",portrait_path(params[:id].to_i + 1)%> 
			</div>
		</div> -->
	</div>
</div>
<div class="text-jpc ">
	<div class="offset-sm-3 col-sm-6">
		<h2><strong>Jean-Pierre Chebassier</strong> a partagé sa vie entre l’art et l’entreprenariat.</h2> <br><br>
			<p>Après une préparation à l’école des Beaux-Arts, il réalise des études d’économie : Licence, Maîtrise, puis DESS. C’est durant sa coopération pour le ministère des Finances à Khartoum, au Soudan, qu’il découvre la rupture culturelle et économique entre l’occident et le reste du monde. 
		<br>A son retour, il deviendra directeur de création dans une agence de publicité à New-York puis reviendra à Paris pour fonder sa propre agence de publicité avec deux associés d’expérience : Il a toujours rêvé d’être entrepreneur. Durant ces années de développement et de croissance professionnelle, il s’impose en parallèle une vraie discipline afin de poursuivre sa production artistique. Chaque année, ce sera au moins une dizaine d’œuvres peintes à l’huile et dans le format carré de 130 X 130. 
		<br>Parce que c’était entreprenant, ludique, socialement responsable, et parce qu’il était père de 5 enfants, il conduira son entreprise durant 20 ans pour devenir l’une des 5 premières indépendantes de son secteur.
		<br>En 2013, il décide de confier l’avenir de son entreprise à un publicitaire américain avec lequel il partage les mêmes valeurs de créativité et de responsabilité sociale. 
		<br>Créateur du Prix Canson, auteur de plusieurs installations notoires comme l’exposition de cent portraits dans la gare Saint-Jean de Bordeaux en 2010 et 2011, ou l’habillage des colonnes du Petit-Palais à Paris en 2013, il a progressivement préparé sa transition professionnelle en intensifiant sa production artistique au fil des années. La rénovation de son nouvel atelier de travail est une œuvre à part entière. 
		<br>Aujourd’hui, pleinement libéré de ses anciennes activités publicitaires, après avoir coupé le cordon d’une vie à deux têtes, Jean-Pierre Chebassier dévoile une œuvre dense.
		.</p>
		
	</div>
</div>