<div class="container ">
	<div class="wrap d-flex justify-content-center">
		<div class="flip-cards flip-cards-text d-flex justify-content-center">
			<div class="text">
				<h1>Le pouvoir des clones</h1>
				<p>Ces cent portraits prennent tout leur sens dans le contraste saisissant qu'ils offrent face à une humanité adoptant progressivement un seul modèle, au risque de se cloner délibérément, sans manipulation génétique. <br> Face à ces cent portraits, j'ai peint une grande toile, une seule, sur laquelle tous les visages sont identiques : ce que nous risquons de devenir. C'est une exagération évocatrice. Cette toile de clones est la représentation d'un rêve qui fait courir le monde. Ce rêve est imprimé dans les journaux quotidiens et les magazines de tous les pays. Ces portraits d'hommes et de femmes de pouvoir qui adoptent la même apparence. Même costume, même look, ils vivent à la même température dans des lieux identiques d'un bout à l'autre de la planète. Les décisions politiques et économiques se prennent aujourd'hui partout dans des conditions où codes et signes sont identiques.</p>
			</div>
		</div>
	</div>	
</div>