<% content_for :meta_title, "Jean-Pierre Chebassier, peintre des différences}" %>
<% content_for :meta_description, "Jean-Pierre Chebassier a partagé sa vie entre l’art et l’entreprenariat." %>
<% content_for :meta_image, "JPC grande.png" %>
<div class="container-fluid sans-infos">
	<div class="wrapper d-flex justify-content-center">
		<!-- <div class="left-show">
			<div class="left-arrow arrow"><%#= link_to " < ",portrait_path(params[:id].to_i - 1)%> </div>
			<a href="/" ></a>
		</div> -->
		<div class="image">
			<div class=" image-show sans-infos-image">
				<%= cl_image_tag("vkiycvj8iwez2z8myphz.jpg", {class: "center-block"}) %>
			</div>
	
		</div>
<!-- 		<div class="right-show">
			<a href="/" ></a>
			<div class="right-arrow arrow">

					<%#=  link_to " > ",portrait_path(params[:id].to_i + 1)%> 
			</div>
		</div> -->
	</div>
</div>
<div class="content-homepage sans-marge">
	<div class="titre-homepage">
		<h1>LE POUVOIR DES CLONES</h1>
	</div>
	<div class="text-homepage offset-sm-1 col-sm-10 offset-md-3 col-md-6 ">
		<p>Ces cent portraits prennent tout leur sens dans le contraste saisissant qu'ils offrent face à une humanité adoptant progressivement un seul modèle, au risque de se cloner délibérément, sans manipulation génétique. <br> Face à ces cent portraits, j'ai peint une grande toile, une seule, sur laquelle tous les visages sont identiques : ce que nous risquons de devenir. C'est une exagération évocatrice. Cette toile de clones est la représentation d'un rêve qui fait courir le monde. Ce rêve est imprimé dans les journaux quotidiens et les magazines de tous les pays. Ces portraits d'hommes et de femmes de pouvoir qui adoptent la même apparence. Même costume, même look, ils vivent à la même température dans des lieux identiques d'un bout à l'autre de la planète. Les décisions politiques et économiques se prennent aujourd'hui partout dans des conditions où codes et signes sont identiques.</p>
	</div>
	<%= link_to jeanpierrechebassier_path, class: "image-homepage" do %>
	  <%= image_tag "JP chebassier.png" %>
	<% end %>
</div>

