<div class="content-homepage">
	<div class="titre-homepage">
		<h1>Mentions légales</h1>
	</div>
	<div class="text-homepage offset-sm-1 col-sm-10 ">
	<p><strong>Mentions légales :</strong> <br>
	Le site  http://www.lafindesgrandesdifferences.com, ci-après dénommé Site Web, est la propriété de Jean-Pierre CHEBASSIER 
	<br>29 rue Soubise
	<br>93400 Saint-Ouen
	<br>France
	<br>jeanpierre.chebassier@gmail.com
	<br>Tél. 06.20.60.77.64
	<br>Siret : 50132958500019 <br>et a pour objet la présentation et la promotion du travail artistique de Jean-Pierre Chebassier.
	<br><br>
	Le responsable de la publication du Site Web est Baptiste Chebassier
	<br>Siège social : 2 rue Kellermann – 59100 Roubaix – France.
	<br><br>Conditions d’utilisation
	<br>L’utilisation de ce site est réservée à usage strictement professionnel. Toute reproduction ou représentation, en tout ou partiellement, à d’autres fins sur un quelconque support est interdite. Le non respect de cette interdiction constitue une contre façon pouvant engager la responsabilité civile et pénale du contrefacteur.

	<br> <br>Les informations disponibles sur ce site web sont non contractuelles et sujettes à modification sans préavis. Jean-Pierre Chebassier ne pourra en aucun cas être tenu pour responsable de dommages de quelque nature que ce soit lié à la consultation ou à l’utilisation du site web  http://www.lafindesgrandesdifferences.com par l’utilisateur.

	<br><br>Autres dispositions
	Les informations contenues dans le Site Web sont fournies pour la seule information générale des visiteurs, elles ne sauraient remplacer ou se substituer à des conseils ou consultations de nature professionnelle.

	<br>Bien que l’Editeur prenne le plus grand soin pour s’assurer de la qualité et de la fiabilité des informations contenues sur le Site Web, ces dernières sont fournies à titre indicatif sans aucune garantie, explicite ou implicite, de validité, d’exhaustivité ou d’actualité. En conséquence de quoi, le visiteur reconnaît utiliser ces informations sous sa seule et unique responsabilité.

	<br><br>Propriété intellectuelle et contrefaçons.
	Jean-Pierre Chebassier est propriétaire des droits de propriété intellectuelle et détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes.

	<br><br>Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de : Mme Jean-Pierre Chebassier.

	<br><br>Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.
	<br><br>
	Cookies
	<br>Des cookies sont susceptible d’être stockés sur le terminal de l’utilisateur afin d’établir des statistiques sur la fréquentation du site. Ils sont utilisés pour identifier les pages consultées ainsi que les comportements et parcours de navigation. Ces informations sont utiles pour améliorer les contenus qui apparaissent sur le site.

	<br>La plupart des navigateurs Internet acceptent automatiquement les cookies.

	<br>L’utilisateur peut désactiver les cookies afin de s’opposer à leur enregistrement sur son terminal ou les supprimer en utilisant les options de son navigateur.

	<br>Afin d’exercer ces choix, les pages suivantes peuvent notamment être consultées :

	
<br><br>Pour Google Chrome :

	<br>1 – Allez dans le menu « Outils »

	<br>2 – Cliquez sur « Paramètres » et « Afficher les paramètres avancés »

	<br>3 – Cliquez sur « Paramètres de contenu… » dans la partie confidentialité

	<br>4 – Cliquez sur « Cookies et données de site… » dans la nouvelle fenêtre

	<br>5 – Cliquez sur « Tout supprimer » et validez en cliquant sur « OK »

	<br>Plus d’informations sur : https://support.google.com/chrome/answer/95647?hl=fr&hlrm=fr


	
<br><br>Pour Microsoft Internet Explorer :

	<br>1 – Allez dans le menu « outil » puis « options Internet »

	<br>2 – Cliquez sur l’icône « Confidentialité »

	<br>3 – Sélectionnez le niveau souhaité à l’aide de votre souris

	<br>Plus d’informations sur : http://windows.microsoft.com/fr-FR/windows-vista/Block-or-allow-cookies


	
<br><br>Pour Mozilla Firefox :

	<br>1 – Choisissez le menu « outil » puis « options »

	<br>2 – Cliquez sur l’icône « vie privée »

	<br>3 – Trouvez le menu « cookie » et sélectionnez les options qui vous conviennent

	<br>Plus d’informations sur : http://support.mozilla.org/fr/kb/activer-desactiver-cookies


	
<br><br>Pour Safari :

	<br>1 – Allez dans le menu Safari / Préférences

	<br>2 – Cliquez sur « confidentialité »

	<br>3 – Dans « Bloquer les cookies », cochez « Toujours »

	<br>Plus d’informations sur : http://www.apple.com/legal/privacy/fr-ww/cookies/

	<br>L’Utilisateur peut également paramétrer son navigateur afin que celui-ci envoie un code « Do not Track ».


	
<br><br>Pour plus d’informations sur les cookies et les modalités possibles de blocage, vous pouvez également vous reporter au site http://www.youronlinechoices.com/fr/ ou au site de la CNIL http://www.cnil.fr/vos-droits/vos-traces/les-cookies/conseils-aux-internautes/chrome.


	
<br><br>Google Analytics
	<br>Ce site utilise Google Analytics, un service d’analyse de site Internet fourni par Google Inc. (« Google »). Google Analytics utilise des cookies, qui sont des fichiers texte placés sur votre ordinateur, pour aider le site internet à analyser l’utilisation du site par ses utilisateurs. Les données générées par les cookies concernant votre utilisation du site (y compris votre adresse IP) seront transmises et stockées par Google sur des serveurs situés aux Etats-Unis.


	
<br><br>Google utilisera cette information dans le but d’évaluer votre utilisation du site, de compiler des rapports sur l’activité du site à destination de son éditeur et de fournir d’autres services relatifs à l’activité du site et à l’utilisation d’Internet. Google est susceptible de communiquer ces données à des tiers en cas d’obligation légale ou lorsque ces tiers traitent ces données pour le compte de Google, y compris notamment l’éditeur de ce site. Google ne recoupera pas votre adresse IP avec toute autre donnée détenue par Google. Vous pouvez désactiver l’utilisation de cookies en sélectionnant les paramètres appropriés de votre navigateur. Cependant, une telle désactivation pourrait empêcher l’utilisation de certaines fonctionnalités de ce site.


	
<br><br>En utilisant ce site Internet, vous consentez expressément au traitement de vos données nominatives par Google dans les conditions et pour les finalités décrites ci-dessus.


	
<br><br>Gestion des données personnelles
	En France, les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978, la loi n° 2004-801 du 6 août 2004, l’article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995.


	
<br><br>A l’occasion de l’utilisation du site http://lafindesgrandesdifferences.com, peuvent êtres recueillies : l’URL des liens par l’intermédiaire desquels l’utilisateur a accédé au site  http://www.lafindesgrandesdifferences.com, le fournisseur d’accès de l’utilisateur, l’adresse de protocole Internet (IP) de l’utilisateur.

	
<br><br>En tout état de cause Jean-Pierre Chebassier ne collecte des informations personnelles relatives à l’utilisateur que pour le besoin de certains services proposés par le site  http://www.lafindesgrandesdifferences.com. L’utilisateur fournit ces informations en toute connaissance de cause, notamment lorsqu’il procède par lui-même à leur saisie. Il est alors précisé à l’utilisateur du site  http://www.lafindesgrandesdifferences.com l’obligation ou non de fournir ces informations.


	
<br><br>Le site n’est pas déclaré à la CNIL.


	
<br><br>Disponibilité

	<br>Le fonctionnement du site peut être affecté par des événements que nous ne contrôlons pas, tels que par exemple, des pannes réseau ou de transmission entre votre poste informatique, le réseau internet, votre fournisseur d’accès, notre hébergeur.
	Nous, nos fournisseurs de services ou hébergeur, nous réservons également le droit, à tout moment, d’interrompre temporairement, tout ou partie du site pour effectuer des opérations de maintenance, des améliorations ou des modifications sur le site ou le serveur qui l’héberge sans être tenus pour responsables de ces suspensions ou interruptions.</p>
	</div>
</div>

	