<div class="container ">
	<div class="wrap d-flex justify-content-center">
		<div class="flip-cards flip-cards-text d-flex justify-content-center">
			<div class="text">
				<h1>Pourquoi peindre cent portraits ?</h1>
				<p>Cent portraits de l'humanité. Pour faire surgir l'invraisemblable diversité humaine telle qu'elle existe encore aujourd'hui. Une galerie de portraits si puissante qu'elle peut créer une prise de conscience sur l'impérieuse nécessité de respecter la différence. Il ne s'agit pas de la diversité au sens où nous sommes tous différents, tous uniques, où personne ne se ressemble, où chacun mérite le respect... Mais bien d'une profondeur de la diversité que nous gommons volontairement et progressivement, pour mieux réussir à vivre ensemble. <br>Ma peinture est un médium libératoire : elle permet d'échapper à la datation et à la lecture ethnologique, au carnet de voyages. Sa force poétique est contemporaine sans appartenir à une histoire en particulier <br> J'ai attaché beaucoup d'importance à une forme qui tente de faire parler ces visages à travers la matière, l'épaisseur, le minéral ; comme un signe très fort de la relation qui existe depuis toujours entre ces peuples et la nature. </p>
			</div>
		</div>
	</div>	
</div>