<div class="container-fluid ">
	<div class="wrap d-flex justify-content-center">
		<div class="flip-cards flip-cards-text d-flex justify-content-center">
			<div class="text">
				<h1>Remerciements</h1>
				<p>Merci à Eric Joan pour son soutien et les scans magnifiques réalisés dans l’intention des agrandissements nécessaires au projet d’affichage d’origine, qui reste plus que jamais contemporain. <br><br>
Merci à Charlotte Chebassier pour sa contribution aux mises en page du projet de livre. <br><br>
Merci à Baptiste Chebassier pour la mise à jour et réalisation de ce site. <br><br>
Merci à toute ma famille pour sa patience pendant les deux années qui m’ont été nécessaires à réaliser ces 100 portraits.</p>
			</div>
		</div>
	</div>
</div>
