<div class="container-fluid ">
	<div class="wrap d-flex justify-content-center">
		<div class="flip-cards flip-cards-text d-flex justify-content-center">
			<div class="text">
				<h1>Remerciements</h1>
				<p><strong>Crédits photos :</strong> Charlotte Chebassier<br> <strong>Site web réalisé par :</strong> Baptiste Chebassier</p>
			</div>
		</div>
	</div>	
</div>