<div class="container ">
	<div class="wrap d-flex justify-content-center">
		<div class="flip-cards flip-cards-text d-flex justify-content-center">
			<div class="text">
				<h1>La séduction, nouvelle arme <br>de la colonisation occidentale</h1>
				<p>La colonisation s'est révélée un échec. Là où la violence n'a pas produit d'enracinement profond des valeurs culturelles occidentales, il semble que la séduction soit un bien meilleur moyen de faire aboutir ce rêve ancien de conquête du monde. <br> Les grandes marques sont devenues les nouveaux colons de la planète, toutes issues des univers de séduction tels que la mode, la cosmétique, où les nouvelles technologies de l'information, elles véhiculent des codes et des signes qui n'appartiennent qu'à l'occident et les associent sans détournement à l'idée de réussite, de progrès. Il suffit de voyager dans les grandes métropoles mondiales pour se rendre compte de cette évidence et de la puissance avec laquelle la communication publicitaire et les médias véhiculent ces codes d'appartenance.</p>
			</div>
		</div>
	</div>	
</div>